APP_NAME="PCCURICO Hosting Panel"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://hosting.pccurico.cl
APP_TIMEZONE=America/Santiago

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pccurico_hosting
DB_USER=pccurico_hosting
DB_PASSWORD=

SESSION_NAME=pccurico_hosting_session
